<div class="navbar-fixed">
    <nav class="custom-nav">
        <div class="nav-wrapper">
            <a ng-href="#/" class="brand-logo">DTrac</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li><a ng-href="#/login">Login</a></li>
                <li><a ng-href="#/register">Register</a></li>
            </ul>
            <ul class="side-nav" id="mobile-demo">
                <li><a ng-href="#/login">Login</a></li>
                <li><a ng-href="#/register">Register</a></li>
            </ul>
        </div>
    </nav>
</div>