@import "default"
@import "mixins"
@import "variable"

.db-container
  color: $white
  font-weight: 100
  margin-top: 100px

.order-form
  margin-top: 50px
  color: $white
  .heading
    color: $white

.order-slip
  border: 2px solid $red
  margin-top: 50px
  padding: 20px
  border-radius: 5px
  .order-heading
    color: $white
    font-weight: 100
    font-size: 25px
    text-align: center
  .underline
    height: 1px
    width: 70px
    border-top: 1px solid $teal
    margin: 0 auto 40px
  .details
    color: $teal
    padding: 5px 10px
    span
      color: $text-color
      font-weight: 100
      word-wrap: break-word
