@import "default"
@import "mixins"
@import "variable"

body
  font-family: 'Montserrat', sans-serif
  background-color: $body-bg

.custom-nav
  background-color: $nav-bg
  padding: 0 20px
  font-weight: 300

.main-container
  position: relative
  .image-bg
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    background-image: url("/img/bg.jpg")
    min-height: 100vh
    z-index: 0
  .mainpage-info
    position: relative
    z-index: 1
    color: $white
    font-weight: 100
    .info-box
      height: 100vh


.register-form
  background-color: $form-bg
  color: $text-color
  padding: 10px 20px
  margin-top: 30px
  border-radius: 5px
  .heading
    color: $white

.error
  font-size: 13px
  text-align: center
  color: $red