@import "variable"
@import "default"
@import "mixins"

.orders-list-box
  margin-top: 50px
  .details
    font-weight: bold
    text-transform: uppercase
    font-size: 12px
    span
      font-weight: 300
      text-transform: none
  .pay-text
    font-size: 12px
    position: relative
    top: -4px
    left: -7px
    text-align: center
    line-height: 1.4
  .collection-item.avatar
    padding-right: 72px


.pa-heading
  font-weight: 100
  font-size: 25px
  margin: 0

.each-order-data
  padding: 20px 0 10px
  color: #ffffff
  font-size: 20px
  .heading
    color: teal
    font-weight: 300
    font-size: 12px
    margin-bottom: 5px

.complete-order-btn
  margin-top: 20px