<header-dashboard></header-dashboard>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="order-form">
                <h4 class="center heading">Fill your order details here</h4>

                <div class="row">
                    <form class="col s12" name="createOrderForm" ng-submit="createOrder()">
                        <div ng-bind="orderError" class="error"></div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="order-info" class="materialize-textarea" ng-model="order.info" required></textarea>
                                <label for="order-info">Order Info</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="location" type="text" class="validate" ng-model="order.location" required>
                                <label for="location">To Location</label>
                            </div>
                        </div>
                        <div>
                            <button type="submit" class="btn waves-effect waves-light">Confirm Order</button>
                        </div>
                    </form>
                </div>


                <div class="order-slip" ng-show="showOrder">
                    <div class="row">
                        <div class="col s12">
                            <div class="order-heading">Order Details</div>
                            <div class="underline"></div>
                            <div class="details">
                                Order ID: <span ng-bind="orderId"></span>
                            </div>
                            <div class="details">
                                Order Info: <span ng-bind="orderInfo"></span>
                            </div>
                            <div class="details">
                                To Location: <span ng-bind="orderLocation"></span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>