<header-dashboard></header-dashboard>

<div class="container">
    <div class="row">
        <div class="col s12 db-container">
            <h2>Hii User,</h2>
            <p>Ready to create a order in just some simple steps</p>
            <a ng-href="#/create">
                <button class="btn waves-effect waves-light">Create a order</button>
            </a>
        </div>
    </div>
</div>