<div class="main-container">
    <div class="image-bg"></div>
    <div class="mainpage-info">

        <header-custom></header-custom>

        <div class="container valign-wrapper info-box">
            <div class="valign">
                <h2>DTrac</h2>
                <h5>A Tracking Delivery Agent</h5>
                <div>
                    DTrac provides technology and delivery freelancers for restaurants to deliver foods. DTrac
                    needs to pay all their delivery agents based on the distance travelled by them.
                </div>
            </div>
        </div>

    </div>
</div>