<header-custom></header-custom>

<div>
    <div class="row">
        <div class="col m4 offset-m4 s12">
            <div class="register-form z-depth-1">
                <h4 class="center heading">Log In</h4>

                <div class="row">
                    <form class="col s12" name="loginForm" ng-submit="login()">
                        <div ng-bind="loginMsg" class="error"></div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate" ng-model="user.email" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pwd" type="password" class="validate" ng-model="user.password" required>
                                <label for="pwd">Password</label>
                            </div>
                        </div>
                        <div class="center">
                            <button type="submit" class="btn waves-effect waves-light">Login</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>