<header-dashboard></header-dashboard>

<div class="container">
    <div class="row">
        <div class="col s12">

            <ul class="collection orders-list-box">
                <li class="collection-item avatar" ng-repeat="orders in myOrders">
                    <img src="img/truck.png" alt="" class="circle">
                    <div class="details">
                        Order ID: <span ng-bind="orders.oid"></span>
                    </div>
                    <div class="details">
                        Order Info: <span ng-bind="orders.info"></span>
                    </div>
                    <div class="details">
                        To Location: <span ng-bind="orders.toLocation"></span>
                    </div>
                    <a ng-href="#/pay-agent" class="secondary-content">
                        <i class="material-icons">receipt</i>
                        <p class="pay-text">Pay<br>Agent</p>
                    </a>
                </li>
            </ul>

        </div>
    </div>
</div>