<header-dashboard></header-dashboard>

<div class="container">
    <div class="row">
        <div class="col s12">
            <div class="order-form">

                <div class="row">
                    <div class="col s12 center">
                        <p class="pa-heading">Complete this order by clicking the pay agent button.</p>

                        <div class="row">

                            <div class="col s12">
                                <div class="each-order-data">
                                    <div class="heading">Delivery Agent's Username</div>
                                    <div>Arun Kumar</div>
                                </div>
                                <div class="each-order-data">
                                    <div class="heading">Amount for 1 Km</div>
                                    <div>Rs.20</div>
                                </div>
                                <div class="each-order-data">
                                    <div class="heading">Total Distance Travelled</div>
                                    <div>50 Kms</div>
                                </div>
                                <div class="each-order-data">
                                    <div class="heading">Total Amount</div>
                                    <div>Rs.1000</div>
                                </div>
                            </div>

                            <div class="center">
                                <button class="btn waves-effect waves-light complete-order-btn">Pay Agent</button>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>