<header-custom></header-custom>

<div>
    <div class="row">
        <div class="col m4 offset-m4 s12">
            <div class="register-form z-depth-1">
                <h4 class="center heading">Register</h4>

                <div class="row">
                    <form class="col s12" name="registerForm" ng-submit="register()">
                        <div ng-bind="registerMsg" class="error"></div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="name" type="text" class="validate" ng-model="user.name" required>
                                <label for="name">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate" ng-model="user.email" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="pwd" type="password" class="validate" ng-model="user.pwd" required>
                                <label for="pwd">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="confirmpwd" type="password" class="validate" ng-model="user.confirmpwd" required>
                                <label for="confirmpwd">Confirm Password</label>
                            </div>
                        </div>
                        <div class="center">
                            <button type="submit" class="btn red lighten-1 waves-effect waves-light">Join</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>