.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

/* For ellipsis */
.db-container {
  color: #ffffff;
  font-weight: 100;
  margin-top: 100px; }

.order-form {
  margin-top: 50px;
  color: #ffffff; }
  .order-form .heading {
    color: #ffffff; }

.order-slip {
  border: 2px solid #f84e4e;
  margin-top: 50px;
  padding: 20px;
  border-radius: 5px; }
  .order-slip .order-heading {
    color: #ffffff;
    font-weight: 100;
    font-size: 25px;
    text-align: center; }
  .order-slip .underline {
    height: 1px;
    width: 70px;
    border-top: 1px solid #17d4d5;
    margin: 0 auto 40px; }
  .order-slip .details {
    color: #17d4d5;
    padding: 5px 10px; }
    .order-slip .details span {
      color: #b7becb;
      font-weight: 100;
      word-wrap: break-word; }

/*# sourceMappingURL=dashboard.css.map */
