.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

/* For ellipsis */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #1c1e22; }

.custom-nav {
  background-color: #17181a;
  padding: 0 20px;
  font-weight: 300; }

.main-container {
  position: relative; }
  .main-container .image-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url("/img/bg.jpg");
    min-height: 100vh;
    z-index: 0; }
  .main-container .mainpage-info {
    position: relative;
    z-index: 1;
    color: #ffffff;
    font-weight: 100; }
    .main-container .mainpage-info .info-box {
      height: 100vh; }

.register-form {
  background-color: #2b2d30;
  color: #b7becb;
  padding: 10px 20px;
  margin-top: 30px;
  border-radius: 5px; }
  .register-form .heading {
    color: #ffffff; }

.error {
  font-size: 13px;
  text-align: center;
  color: #f84e4e; }

/*# sourceMappingURL=index.css.map */
