/* For ellipsis */
.row .pad-0 {
  padding: 0; }

.row .marg-0 {
  margin: 0; }

.orders-list-box {
  margin-top: 50px; }
  .orders-list-box .details {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px; }
    .orders-list-box .details span {
      font-weight: 300;
      text-transform: none; }
  .orders-list-box .pay-text {
    font-size: 12px;
    position: relative;
    top: -4px;
    left: -7px;
    text-align: center;
    line-height: 1.4; }
  .orders-list-box .collection-item.avatar {
    padding-right: 72px; }

.pa-heading {
  font-weight: 100;
  font-size: 25px;
  margin: 0; }

.each-order-data {
  padding: 20px 0 10px;
  color: #ffffff;
  font-size: 20px; }
  .each-order-data .heading {
    color: teal;
    font-weight: 300;
    font-size: 12px;
    margin-bottom: 5px; }

.complete-order-btn {
  margin-top: 20px; }

/*# sourceMappingURL=my_orders.css.map */
